/* body {
    background-image: url(./imageedit_1_7093453622.png);
    background-repeat: no-repeat ;
    background-color: black;
} */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    
}

.container-fluid {
    border-bottom: 2px solid white;
    max-width: 1200px;
    margin: 0 auto;
}

.rie-navi{
    /* background-color:  #FFF8DE; */
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.navbar .container-fluid a {
    font-weight: 600;
    /* color: white; */
    color: #fff;
    font-size: 23px;
    
}

.navbar.scrolled .container-fluid a {
    color: #4f5964;
   
}

.navbar.scrolled {
    background-color: white;
    box-shadow: -1px 11px 44px -35px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px 11px 44px -35px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px 11px 44px -35px rgba(0,0,0,0.69);
}

.navbar .container-fluid a:hover {
    color: rosybrown;
}
.navbar .navbar-nav .custom-rie-link {
    /* color: white; */
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.navbar .navbar-nav .custom-rie-link:hover{
    color: rosybrown;
}



/* .navbar .container-fluid .nav-bar-toggler .navbar-toggler-icon span{
    color: white;
} */

#about-me, #projects,#contact {
    padding: 65px 0;
    /* align-items: center;
    justify-content: center; */
    /* overflow: hidden; */
}

.carousel  {
    height: 100%;
    overflow: hidden;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    text-align: left;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 180px;


}
.carousel-caption h1{
    color:white;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 120px;
}

.carousel-caption h2{

    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
#about-me {
   background: #FFFDF2;
   background-image: url(./imageedit_1_7093453622.png);
   border-top: 7px dotted #ead1dc; 
   background-repeat: no-repeat;
}

#about-me .container{
    
}
    


#about-me h2 {
    text-align: center;
    
    font-weight: 600;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: #4f5964;
}

#about-me .wrapper img {
    max-width: 285px;
    margin: 0 auto;
    display: block;
}



#about-me .custom-rie-knowme {
    background: rgb(255,253,242);
    background: linear-gradient(90deg, rgba(255,253,242,0.3477766106442577) 46%, rgba(234,209,220,0.40379901960784315) 82%);
    border: none;
    border-radius: 30px;
    font-family: 'Indie Flower', cursive;
    color: #4f5964;
    
    padding: 30px;
}

#about-me .custom-rie-knowme img{

   max-width: 285px;
   display: block;
   margin: 0 auto;
  
    
}

#about-me h4 {
    font-weight: 600;
    text-align: center;
    padding: 15px;

}

#about-me p  {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 12px;
}

.custom-rie-carousel {
    height : 500px;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    /* padding-top: 20px; */
}

.custom-rie-carousel .carousel-item img {
    border-radius:30px;
}


#projects {
    background:	#FFFDF2;
    background-image: url(./imageedit_1_7093453622.png);
    border-top: 7px dotted #ead1dc;
    background-repeat: no-repeat;
    text-align: center;
    
}

#projects h1 {
    font-size: 56px;
    padding-bottom: 20px;
    font-family: 'Indie Flower', cursive;
    color: #4f5964;
    font-weight: 600;
}

#projects .card {
    align-items: center;
   max-width: 380px;
   margin: 0 auto;
    border-radius: 15px;
    border: 2px dotted rosybrown;
    padding: 20px;
    margin-bottom: 50px;
    background: rgb(255,253,242);
    background: linear-gradient(90deg, rgba(255,253,242,0.6110819327731092) 41%, rgba(234,209,220,0.40379901960784315) 65%);
}

#projects img {
   max-width: 150px;
  
}
#projects h2 {
    font-family: 'Indie Flower', cursive;
    color: #4f5964;
    font-weight: 600;
}



#projects h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #4f5964;
}

#projects button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.unlocked{
    background-image: linear-gradient(to right, #DAE2F8 0%, #D6A4A4  51%, #DAE2F8  100%);
}
    
 .unlocked {
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;    
    font-weight: 600;      
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.unlocked a{
    font-weight: 600;
    color: #4f5964;
}

.unlocked:hover{
    background-position: right center; 
    color: white;
    text-decoration: none;
}

.locked {
    background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
    color: white;
   
}
.locked{
   margin: 10px;
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .locked:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

  .locked a {
    color: white;
 }


    
#projects .projects-border img {
    margin: 0 auto;
    display: block;
    max-width: 285px;
}

/* #projects.card {
 overflow:hidden;
 border-radius:20px;
 min-height:450px;
} */


#contact {
    background: #FFFDF2;
    background-image: url(./2.jpg);
    border-top: 7px dotted #ead1dc;
    background-repeat: no-repeat;
}

#contact .container {
    max-width: 1200px;
}

#contact h2 {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    color:    #4f5964;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 56px;
}




#contact h2 {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    color:    #4f5964;
    font-size: 50px;
    text-align: center;
}

#contact form h3 {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    color:    #4f5964;
    text-align: center;
}
#contact form {
    max-width: 450px;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 600;
    color:    #4f5964;
    font-size: 17.5px;
    margin: 0 auto;
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact form {
    border-radius: 10px;
    margin: 10px;
    border: 2px dotted rosybrown;
    padding: 20px;
    margin: 0 auto 50px;
    background: rgb(255,253,242);
    background: linear-gradient(90deg, rgba(255,253,242,0.3477766106442577) 46%, rgba(234,209,220,0.40379901960784315) 82%);
}

#contact legend {
    color:    #4f5964;
    border-top: 3px solid #FFD2D2;
	border-left: 3px solid #FFD2D2;
	border-right: 3px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
    padding: 10px;
	

}

#exampleInputtext1 , #exampleInputEmail1 , #exampleInputNumber1 {
    border-radius: 5px;
    border: 1px solid rosybrown;
}
#exampleInputTextarea1 {
    border: 1px solid rosybrown;
    height: 100px;
}


    
 #contact form button {
    background-image: linear-gradient(to right, #DAE2F8 0%, #D6A4A4  51%, #DAE2F8  100%);

    
}
    
 #contact form button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #4f5964;    
    font-weight: 600;      
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

 #contact form button:hover {
    background-position: right center; 
    color: #4f5964;
    text-decoration: none;
}

.mapouter {
    max-width: 450px;
    margin: 0 auto;
}
.mapouter iframe {
    width: 100%;
}


footer {
    background-color: white;
    box-shadow: -1px 11px 44px -35px rgba(0,0,0,0.69);
    -webkit-box-shadow: -1px 11px 44px -35px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px 11px 44px -35px rgba(0,0,0,0.69);
    padding: 50px 0;
    
    text-align: center;
    color:    #4f5964;
}


footer h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    font-size: 50px;
}

footer h1:hover {
    color: rosybrown;
}
footer ul {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    font-weight: 600;
   
}

footer li {
    display: inline;
    padding: 10px;

}

footer a {
    text-decoration: none;
    color: #4f5964;
}

footer a:hover{
    color: rosybrown;
    
}

footer i {
    color: rosybrown;
}


























/* ; */